#all{
    margin-top:25%;
}
#gridContainer{
    display:flex;
    align-items:center;
    justify-content:center;
}
#gameboard{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    height:200px;
    width:200px;
    grid-row-gap:2.5px;
    grid-column-gap:2.5px;
    margin-top:30px;
    justify-content:center;
}
.grid-content{
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid black 0.5px;
    height:60px;
    width:60px;
}
button{
    display:block;
}
.player1{
    display:inline-block;
    font-size:20px;
}
.player2{
display:inline-block;
position:right;
margin-left: auto; 
margin-right: 0;
font-size:20px;
}
#winner{
    visibility:hidden;
    margin-top:10px;
    width:100%;
    height:20px;
    text-align:center;
    font-size:20px;
}
#button1{
    display:inline-block;
    width:49.5%;
    text-align:right;
    }   
#button2{
    display:inline-block;
    width:50%;
    text-align:left;
}   
#restart{
    margin-top:20px;
    width:100%;
    text-align:middle;
    height:50px;
}
#restartButton{
    margin-left:45%;
    width:10%;
    height:50px;
}
#human1{
    margin-left:20px;
}
#human2{
    margin-left:20px;
}
img{
    max-width:60px;
    max-height:60px;
}
#computer2{
    margin-right:20px;
}
#header{
    text-align:center;
    margin-bottom:50px;
}